// 字体颜色和主题背景
.u-main-color {
	color: $u-main-color;
}
.u-content-color {
	color: $u-content-color;
}
.u-light-color {
	color: $u-light-color;
}

.u-primary {
	color: $u-type-primary;
}

.u-warning {
	color: $u-type-warning;
}

.u-success {
	color: $u-type-success;
}

.u-error {
	color: $u-type-error;
}

.u-info {
	color: $u-type-info;
}

.theme1 {
	color: $u-type-theme1;
}

.theme2 {
	color: $u-type-theme2;
}

.theme3 {
	color: $u-type-theme3;
}

.theme4 {
	color: $u-type-theme4;
}

.theme5 {
	color: $u-type-theme5;
}

.theme6 {
	color: $u-type-theme6;
}


.u-primary-bg {
	background-color: $u-type-primary;
}

.u-warning-bg {
	background-color: $u-type-warning;
}

.u-success-bg {
	background-color: $u-type-success;
}

.u-error-bg {
	background-color: $u-type-error;
}

.u-info-bg {
	background-color: $u-type-info;
}

.theme1-bg {
	background-color: $u-type-theme1;
}

.theme2-bg {
	background-color: $u-type-theme2;
}

.theme3-bg {
	background-color: $u-type-theme3;
}

.theme4-bg {
	background-color: $u-type-theme4;
}

.theme5-bg {
	background-color: $u-type-theme5;
}

.theme6-bg {
	background-color: $u-type-theme6;
}