.white {
	color: #FFFFFF;
}

.bg-white {
	background-color: #FFFFFF;
}

.bg-grey {
	background-color: #f9f9f9;
}

.custom-cell {
	padding: 10px 16px;
}

.text-money {
	color: #F0154B;
}

.text-money::before {
	content: '￥';
	font-size: 90%;
}

.text-red {
	color: #F0154B;
}

.boder-bottom {
	position: relative;
}

.boder-bottom::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 94%;
	height: 1px;
	background-color: #EEEEEE;
}

.boder--bottom {
	border-bottom: 1px solid #EEEEEE;
}
.light-color {
	color: #999999;
}
.text-blod-400 {
	font-weight: 400;
}

.text-blod-500 {
	font-weight: 500;
}

.text-blod-600 {
	font-weight: 600;
}

.text-blod-700 {
	font-weight: 700;
}

.text-price::before {
	content: "¥";
	font-size: 80%;
	margin-right: 4upx;
}

.cell-border-bottom {
	margin: 0 32rpx;
	height: 1px;
	background-color: #f8f8f8;
}

.line-bottom-700 {
	height: 8px;
	background: #EDEEF0;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20rpx 32rpx 60rpx;
}
